<!doctype html>
<html>
<head>
	<title>PHP REST API MySQL AJAX jQuery CRUD</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<style>
		.input-group {
			margin: 10px 0px 10px 0px;
		}
		.input-group label {
			display: block;
			text-align: left;
			margin: 3px;
		}
		.input-group input {
			height: 30px;
			width: 300px;
			padding: 5px 10px;
			font-size: 16px;
			border-radius: 5px;
			border: 1px solid gray;
		}
		.btn {
			padding: 10px;
			font-size: 15px;
			color: white;
			background: #5F9EA0;
			border: none;
			border-radius: 5px;
		}
	</style>
	<script type="text/javascript">
		$(document).ready(function() {
			$.getJSON('[[${appURI}]]/employees', function(json) {
				var tr=[];
				for (var i = 0; i < json.length; i++) {
					tr.push('<tr>');
					tr.push('<td>' + json[i].id + '</td>');
					tr.push('<td>' + json[i].firstName + '</td>');
					tr.push('<td>' + json[i].lastName + '</td>');
					tr.push('<td>' + json[i].emailId + '</td>');
					tr.push('<td><button class=\'edit\'>Edit</button>&nbsp;&nbsp;<button class=\'delete\' id=' + json[i].id + '>Delete</button></td>');
					tr.push('</tr>');
				}
				$('table').append($(tr.join('')));
			});
			
			$(document).delegate('#addNew', 'click', function(event) {
				event.preventDefault();
				
				var firstName = $('#firstName').val();
				var lastName = $('#lastName').val();
				var emailId = $('#emailId').val();
				
				if(firstName == null || firstName == "" || lastName == null || lastName == "" || emailId == null || emailId == "" ) {
					alert("All fields are required");
					return;
				}
				
				$.ajax({
					type: "POST",
					contentType: "application/json; charset=utf-8",
					url: "[[${appURI}]]/employees",
					data: JSON.stringify({'firstName': firstName, 'lastName': lastName, 'emailId': emailId}),
					cache: false,
					success: function(result) {
						alert('Company added successfully');
						location.reload(true);
					},
					error: function(err) {
						alert(err);
					}
				});
			});
			
			$(document).delegate('.delete', 'click', function() { 
				if (confirm('Do you really want to delete record?')) {
					var id = $(this).attr('id');
					var parent = $(this).parent().parent();
					$.ajax({
						type: "DELETE",
						url: "[[${appURI}]]/employees/" + id,
						cache: false,
						success: function() {
							parent.fadeOut('slow', function() {
								$(this).remove();
							});
							location.reload(true)
						},
						error: function() {
							alert('Error deleting record');
						}
					});
				}
			});
			
			$(document).delegate('.edit', 'click', function() {
				var parent = $(this).parent().parent();
				
				var id = parent.children("td:nth-child(1)");
				var firstName = parent.children("td:nth-child(2)");
				var lastName = parent.children("td:nth-child(3)");
				var emailId = parent.children("td:nth-child(4)");				
				var buttons = parent.children("td:nth-child(5)");
				
				firstName.html("<input type='text' id='firstName' value='" + firstName.html() + "'/>");
				lastName.html("<input type='text' id='lastName' value='" + lastName.html() + "'/>");
				emailId.html("<input type='text' id='emailId' value='" + emailId.html() + "'/>");
				buttons.html("<button id='save'>Save</button>&nbsp;&nbsp;<button class='delete' id='" + id.html() + "'>Delete</button>");
			});
			
			$(document).delegate('#save', 'click', function() {
				var parent = $(this).parent().parent();
				
				/*var id = parent.children("td:nth-child(1)");
				var name = parent.children("td:nth-child(2)");
				var buttons = parent.children("td:nth-child(3)");*/
				
				var id = parent.children("td:nth-child(1)");
				var firstName = parent.children("td:nth-child(2)");
				var lastName = parent.children("td:nth-child(3)");
				var emailId = parent.children("td:nth-child(4)");				
				var buttons = parent.children("td:nth-child(5)");
				
				$.ajax({
					type: "PUT",
					contentType: "application/json; charset=utf-8",
					url: "[[${appURI}]]/employees/"+id.html(),
					data: JSON.stringify({'id' : id.html(), 'firstName' : firstName.children("input[type=text]").val(), 'lastName' : lastName.children("input[type=text]").val(), 'emailId' : emailId.children("input[type=text]").val()}),
					cache: false,
					success: function() {
						firstName.html(firstName.children("input[type=text]").val());
						lastName.html(lastName.children("input[type=text]").val());
						emailId.html(emailId.children("input[type=text]").val());
						buttons.html("<button class='edit' id='" + id.html() + "'>Edit</button>&nbsp;&nbsp;<button class='delete' id='" + id.html() + "'>Delete</button>");
					},
					error: function() {
						alert('Error updating record');
					}
				});
			});

		});
	</script>
</head>
<body>
	
	<p>Welcome to <span th:text="${appName}">Our App</span></p>
	<h2>PHP REST API MySQL AJAX jQuery CRUD</h2>
	
	<h3>Add a New Company</h3>
	<div class="input-group">
		<label>Company Name</label>
		<input type="text" id="firstName" name="firstName" value="">
		<input type="text" id="lastName" name="lastName" value="">
		<input type="text" id="emailId" name="emailId" value="">
	</div>
	<div class="input-group">
		<button class="btn" type="button" id="addNew">Save</button>
	</div>
	
	<p/>

	<table border="1" cellspacing="0" cellpadding="5">
		<tr>
			<th>Id</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email ID</th>
			<th>Actions</th>
		</tr>
	</table>

</body>
</html>
